@model IEnumerable<BookRentalProj.Models.Genre>
@using BookRentalProj.Models
@{
    ViewBag.Title = "Index";
}

<h2>Manage Genres</h2>

@Html.Partial("_CreateButtonPartial")
<br />
<br />

@* Table to display index of Genres *@
<table class="table table-condensed table-hover">
    <tr class="table-header">
        <th>
            @* DisplayNameFor displays the DisplayName value rather than the actual x.Name value *@
            @Html.DisplayNameFor(x => x.Name)
        </th>
        <th></th>
        <th>Actions</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @* DisplayFor returns actual item.Name value *@
                @Html.DisplayFor(x => item.Name)
            </td>
            <td>
               @Html.Partial("_TableButtonsPartial", new IndividualButtonPartial{ GenreId = item.Id})
            </td>
        </tr>
    }

</table>