@model BookRentalProj.Models.IndividualButtonPartial
@using BookRentalProj.Models

<td style="width: 400px;">
    <div class="btn-group" role="group">
        @Html.Partial("_IndividualButonPartial",
             new IndividualButtonPartial
             {
                 Action = "Edit",
                 ButtonType = "primary",
                 Glyph = "pencil",
                 Text = "",
                 GenreId = Model.GenreId,
                 BookId = Model.BookId,
                 CustomerId = Model.CustomerId,
                 MembershipTypeId = Model.MembershipTypeId
             })
        @Html.Partial("_IndividualButonPartial",
             new IndividualButtonPartial
             {
                 Action = "Details",
                 ButtonType = "success",
                 Glyph = "list",
                 Text = "",
                 GenreId = Model.GenreId,
                 BookId = Model.BookId,
                 CustomerId = Model.CustomerId,
                 MembershipTypeId = Model.MembershipTypeId
             })
        @Html.Partial("_IndividualButonPartial",
            new IndividualButtonPartial
            {
                Action = "Delete",
                ButtonType = "danger",
                Glyph = "trash",
                Text = "",
                GenreId = Model.GenreId,
                BookId = Model.BookId,
                CustomerId = Model.CustomerId,
                MembershipTypeId = Model.MembershipTypeId
            })
    </div>
</td>

